.site-commerce-price-group-default-formatter {
	margin-bottom: 1rem;
}

.site-commerce-price-group-default-formatter__prefix {
	margin-bottom: 1rem;
}

.site-commerce-price-group-default-formatter__suffix {
	margin-top: 1rem;
}

.site-commerce-price-group-default-formatter__value {
	font-size: 2em;
}

.site-commerce-price-group-default-formatter__from {
	font-size: 0.7em;
}

.site-commerce-price-group-default-formatter__cost-from {
	font-weight: 700;
}

.site-commerce-price-group-default-formatter__cost-value {
	font-weight: 700;
}

.site-commerce-price-group-default-formatter__currency {
	font-size: 0.7em;
}

.site-commerce-price-group-default-formatter__quantity-unit {
	font-size: 0.7em;
	color: #888888;
}
