{# Подключаем библиотеку оформления #}
{{ attach_library('site_commerce_price/default_formatter') }}

{# Цена товара не определена #}
{% set cost = '' %}

{# Если существует цена от и базовая цена #}
{% if data.number_from and data.number %}
	{% set cost = '<span class="site-commerce-price-group-default-formatter__from">' ~ 'from' | t ~ '</span> <span class="site-commerce-price-group-default-formatter__cost-from">' ~ data.number_from ~ '</span> – <span class="site-commerce-price-group-default-formatter__cost-value">' ~ data.number ~ '</span>' %}
{% endif %}

{# Если существует только цена от #}
{% if data.number_from and data.number == 0 %}
	{% set cost = '<span class="site-commerce-price-group-default-formatter__from">' ~ 'from' | t ~ '</span> <span class="site-commerce-price-group-default-formatter__cost-from">' ~ data.number_from ~ '</span>' %}
{% endif %}

{# Если существует только базовая цена #}
{% if data.number and data.number_from == 0 %}
	{% set cost = '<span class="site-commerce-price-group-default-formatter__cost-value">' ~ data.number ~ '</span>' %}
{% endif %}

{# Если стоимость определена, добавляем код валюты #}
{% if cost %}
	{% set cost = cost ~ ' ' ~ '<span class="site-commerce-price-group-default-formatter__currency site-commerce-price-group-default-formatter__' ~ data.currency_code|lower ~ '">' ~ data.symbol ~ '</span>' %}
{% endif %}

{# Выводим единицу измерения количества #}
{% if cost and data.quantity_unit %}
{% set cost = cost ~ '<span class="site-commerce-price-group-default-formatter__quantity-unit">/' ~ data.quantity_unit ~ '</span>' %}
{% endif %}

{# Выводим стоимость товара #}
{% if data.prefix or cost or data.suffix %}
	<div class="site-commerce-price-group-default-formatter">
		{% if data.prefix %}
			<div class="site-commerce-price-group-default-formatter__prefix">
				{{- data.prefix -}}
			</div>
		{% endif %}
		<div class="site-commerce-price-group-default-formatter__value">
			{{- cost|raw -}}
		</div>
		{% if data.suffix %}
			<div class="site-commerce-price-group-default-formatter__suffix">
				{{- data.suffix -}}
			</div>
		{% endif %}
	</div>
{% else %}
	<i class="fas fa-exclamation-circle"></i> {{ 'Check the price with your manager'|t }}
{% endif %}
