{# Подключаем библиотеку оформления #}
{{ attach_library('site_commerce_price/default_widget') }}
<div class="site-commerce-price-group-header">
  {{ form.group }}
  {{ form.number_from }}
  {{ form.number }}
  {{ form.currency_code }}
</div>
<div class="site-commerce-price-group-footer">
  {{ form.prefix }}
  {{ form.suffix }}
</div>
